<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h3>
      Hi there. This is a sample page, a quick start project for building a
      Messenger Chatbot.
    </h3>
  </body>
</html>
